<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Include the macro definition file -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
  
  <!-- Use the macro -->
  <xacro:vlp16_mount parent_link="base_link" topic="/velodyne_points" height="0.12" origin="0 0 1 0 0 0"/>
</robot>

